version: "3.8"

services:

  eureka:
    build: ./eureka
    container_name: eureka-server
    ports:
      - "8761:8761"
    networks:
      - clinic-network

  api-gateway:
    build: ./api-gateway
    container_name: api-gateway
    ports:
      - "7777:7777"
    depends_on:
      - eureka
    networks:
      - clinic-network

  doctor:
    build: ./doctor
    container_name: doctor-service
    ports:
      - "8081:8081"
    depends_on:
      - eureka
    networks:
      - clinic-network

  patient:
    build: ./patient
    container_name: patient-service
    ports:
      - "8082:8082"
    depends_on:
      - eureka
    networks:
      - clinic-network

  payment:
    build: ./payment
    container_name: payment-service
    ports:
      - "8083:8083"
    depends_on:
      - eureka
    networks:
      - clinic-network

  adminserver:
    build: ./adminserver
    container_name: admin-server
    ports:
      - "8888:8888"
    depends_on:
      - eureka
    networks:
      - clinic-network

networks:
  clinic-network:
    driver: bridge
